:root {
  --color-accent: oklch(65% 50% 0); 
  /* border-bottom: 4px solid #cccccc; */
  padding-bottom: calc(0.5em - 4px); 

  /*  Step 4 Lab 3*/
  color-scheme: light dark
  
}



body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1rem;
    margin-inline: max(1em, (100% - 100ch) / 2);
    accent-color: var(--color-accent)
  }

  nav ul, nav li {
    display: contents;
  }

  .current {
    border-bottom: 0.4em solid; 
}  

  nav {
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color);


    display: flex;                
    justify-content: space-around;    
    align-items: center;  

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom: 1px solid oklch(80% 3% 200);
  } 

  nav a{

    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
    width: 100%
    /* border-bottom: 3px solid transparent;  */
}

nav a:hover {
  border-bottom: 0.4em solid #ff00ff; 
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  /* background-color: oklch(from var(--color-accent) 95% 5% h);   */
}

/* Step 3 */
form{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

input, textarea, button, select{
  font: inherit;
  font-size: 80%;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1; 
}


button{
  grid-column: 1 / -1;
}

/* Step 4 */

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 20px; 
}

.projects article {
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

h2 {
  margin: 0; 
}

.projects {
  gap: 1em; 
}

h1 {
  font-size: 2.5em; 
}

h2 {
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance; 
}


/* Step 5 */
/* body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f9f9f9;
  line-height: 1.6;
} */


body.cv{
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Adds space between the columns */
  padding: 20px; 
  /* background-color: #d7efe5; */
}

header {
  
  grid-column: 1 / -1; /* Makes the header and sections span both columns */
  
}

header nav {
  display: inline-block;  /* Ensures the nav element doesn't take full width */
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

p, li {
  font-size: 16px;
}

.article {
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Step 4: Lab 3*/

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
    /* Use font-size to adjust the size */
}